@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: #fcf3cf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Forms */

.form-control {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.label {
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.errors {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
}

.form-control input {
  font-size: 20px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-buttons {
  margin: 2rem 0;
}

.form-buttons button {
  cursor: pointer;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 99px;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 5px 0;
  margin: 5px 0;
}

.form-footer {
  margin-top: 2rem;
}

@media screen and (max-width: 540px) {
  .form-buttons button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .form-buttons button {
    font-size: 0.8rem;
  }
}
